doctype html
html
  head
    title CANZONI
    link(rel='stylesheet', href='/styles/styles.css')

body 

        h1.titolo CANZONI


            each song in songs
                .row 
             
                img(src=`/images/${song.thumbnail}`)
                .row 

                h1 #{song.title}
                .row
                a.button(href=`song?id=${song.song_id}`) VISUALIZZA